body{
  color: black;
  font-size: 120%;
  font-weight: 500;
  line-height: 1.2em;
  font-family:sans-serif;
}

p{
  line-height: 2;
}

a{
  color: black;
}

a:link{
  text-decoration: none;
}

h2{
  margin-top: 5%;
  font-family: 'Philosopher', sans-serif;
  color: #686868;
}

h4{
  color: #878a8f;
  margin: 5% 0;
  text-decoration: underline;
}


.gray_container{
  font-family: 'Philosopher', sans-serif;
  color: #878a8f;
}


/* NAVBAR */
.navbar{
  background: black;
  color: #fff;
}

.navbar-brand{
  font-size: 1.3em;
}

.nav-item{
  padding: 0 20px;
  font-size: 0.9em;
}

.nav-link{
  color: #fff;
}


/* WELLCOM CONTAINER */
.wellcom_container{
  /* background-color: #191919; */
  background-color: black;
  font-family: 'Philosopher', sans-serif;
  color: #fff;
}

.top-wellcom-container{
  font-size: 2.3em;
}

.wellcom_p{
  margin: 5% 0 0 0;
}

.personal_photo{
  width: 100%;
}

.wellcom_link{
  color: #fff;
}


/* SKILLS */
.skill-row{
  margin: 100px auto 100px auto;
}

.skill-texts{
  margin-left: 25%;
}

.skills-pic{
  float: left;
}


/* PROJECTS */
.projects-col{
  text-align: center;
  margin: 100px auto 100px auto;
}

.card{
  width: 16em;
  height: 20em;
  margin: 0 15%;
}

.card-title{
  text-decoration: underline;
  color: #878a8f;
}


/* CONTACT ME */
#contact_me{
  text-align: center;
  font-weight: 400;
  font_height: 0.8em;
  line-height: 1.25em;
  letter-spacing: 0.03em;
  color: #686868;
  font-family: 'Philosopher', sans-serif;
}

.social-icon{
  margin: 5px 20px;
  color: #686868;
}

@@media screen (max-width 600px) {
  body{
    font-size: 200%;
  }
}
