*{
  margin: 0
  padding: 0;
}

body{
  color: black;
  font-size: 120%;
  font-weight: 500;
  line-height: 1.2em;
  font-family:sans-serif;
}

code-span{
  background-color:#878a8f;
}

p{
  line-height: 2;
  word-spacing: 3px;
}

a{
  color: black;
}

a:link{
  text-decoration: none;
}

a:hover{
  color: #686868;
}

h2{
  margin-top: 5%;
  font-family: 'Philosopher', sans-serif;
  color: #686868;
  padding-left: 3%;
}

h4{
  color: #878a8f;
  margin: 5% 0;
  text-decoration: underline;
  /* padding-left: 5%; */
}

.gray_container{
  font-family: 'Philosopher', sans-serif;
  color: #878a8f;
}


/* NAVBAR */
.navbar{
  background: black;
  height: 60px;
}

.navbar-brand{
  font-size: 1.3em;
  color: #fff;
}

.nav-item{
  padding: 0 15px;
  font-size: 0.95em;
  color: #fff;
}


/* WELLCOM CONTAINER */
.wellcom_container{
  /* background-color: #191919; */
  background-color: black;
  font-family: 'Philosopher', sans-serif;
  color: #fff;
  padding-left: 5%;
}

.top-wellcom-container{
  font-size: 2.3em;
}

.wellcom_p{
  margin: 5% 0 0 0;
}

.personal_photo{
  width: 100%;
}

.wellcom_link{
  color: #fff;
  text-decoration: underline;
}


/* SKILLS */
.skill-row{
  margin: 100px auto 100px auto;
}

.skill-texts{
  margin-left: 25%;
}

.skills-pic{
  float: left;
  padding-left: 3%;
}


/* PROJECTS */
.projects-col{
  text-align: center;
  margin: 100px auto 100px auto;
}

.card{
  width: 16em;
  height: 19em;
  margin: 0 15%;
}

.card-title{
  text-decoration: underline;
  color: #878a8f;
}


/* CONTACT ME */
#contact_me{
  text-align: center;
  font-weight: 400;
  font_height: 0.8em;
  line-height: 1.25em;
  letter-spacing: 0.03em;
  color: #686868;
  font-family: 'Philosopher', sans-serif;
}

.social-icon{
  margin: 5px 20px;
  color: #686868;
}

.projects-ul{
  line-height: 2;
  word-spacing: 5px;
}

.projects-li{
  margin: 3% 0;
  color: #878a8f;
}

/* SMASH */
.photo{
  width: 100%;
}

.shell-pic{
  width: 75%;
  margin: 5% 10%;
}
